body   {
    width: 21cm;
    height: 29.7cm;
    border: 10px solid white;
    margin-left:  50px;
}
img {
    margin-left: 450px;
    border: 2px solid teal;
    height: 234px;
    width: 180px;
}
h1  {
    color:rgb(68, 59, 105);
}
.Main   {
    margin-right:200px;
}
.Side   {
    margin-left: 200px;
}
